.form_popup {
    position: fixed;
    background: rgba(76, 57, 77, 0.356);
    z-index: 999;
    width: 90%; /* Fixed width */
    max-width:400px ;
    height: 150px;
    color: rgb(0, 0, 0);
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    text-align: center;
    top: 20px; /* Position from the top */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -100%); /* Center it and start above */
    border-radius: 10px;
    animation: slideDown 1s ease-out forwards; /* Add animation */
}

@keyframes slideDown {
    0% {
        top: -150px; /* Start outside the top of the screen */
    }
    100% {
        top: 200px; /* Final position at 20px from the top */
    }
}